<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hniu.travel.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.hniu.travel.pojo.Role">
            <id property="rid" column="rid" jdbcType="INTEGER"/>
            <result property="roleName" column="roleName" jdbcType="VARCHAR"/>
            <result property="roleDesc" column="roleDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,roleName,roleDesc
    </sql>
    <insert id="addRoleByAid" >
        insert into admin_role values  (#{aid},#{rid})
    </insert>
    <delete id="delByAid" parameterType="integer">
        delete from admin_role where aid=#{aid}
    </delete>
    <select id="findRoleById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT rid from admin_role
        WHERE aid=#{aid}
    </select>
</mapper>
